@font-face {
  font-family: "Satisfy";
  src: url(font/) format("truetype");
}

@font-face {
  font-family: "Quicksand";
  src: url(font/) format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url(font/) format("truetype");
}

body {
  font-family: Quicksand;
  margin: 0;
  background-color: aliceblue;
  display: block;
}

.background {
  background-image: url("../images/isto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
}

#home {
  background-color: white;
  flex-wrap: wrap;
  position: relative;
}

.home {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex-direction: row;
  padding: 100px 0 0 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.95)
  );
  transition: 5s;
}

.home:hover {
  .moves {
    transition: 5s ease;
    transform: translate(3em, 15em);
  }
}

.navi {
  margin-right: 7em;
  margin-left: 3em;
}

.navbar {
  position: fixed;
  z-index: 1000;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.navbar-toggler {
  display: block;
  background-color: #ff1d58;
  border-radius: 0 !important;
  border: none !important;
  box-shadow: none !important;
  padding: 20px 10px 20px 10px;
  margin-bottom: 20px;
  width: 60px;
  font-size: 25px;
}

.toggle {
  color: white !important;
}

.nav-item {
  border: 0.5px white solid;
  border-left: 0;
  border-right: 0;
  background-color: #ff1d58;
  width: 60px;
  height: auto;
}

.nav-link {
  font-family: Quicksand;
  text-decoration: none;
  transition: 0.5s;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  color: white !important;
  padding: 20px 0 20px 0;
}

.nav-item:hover,
.navbar-toggler:hover {
  transition: 0.5s;
  font-weight: 500;
  background-color: white;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.6) !important;
  .nav-link {
    color: #ff1d58 !important;
  }
  .toggle {
    color: #ff1d58 !important;
  }
}

.nav-link.active {
  background-color: white;
  color: #ff1d58 !important;
}

.photo {
  margin-top: 0.6em;
  margin-right: 4em;
  z-index: 999;
}

.dp {
  width: 80%;
  height: auto;
  border: 0.6em solid rgb(255, 255, 255);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.6);
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
}

.description {
  transition: 5s all;
  margin-top: 13em;
  flex-grow: 1;
  z-index: 888;
}

.name {
  transition: 5s all;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  font-size: 50px;
  color: #ff1d58;
  z-index: 888;
}

.intro {
  transition: 5s all;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 500;
  z-index: 888;
}

.mess {
  transition: 5s all;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(180, 180, 180);
  z-index: 888;
}

.detail {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  padding: 30px;
  width: 100%;
  justify-content: center;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  bottom: 0;
  background-color: white;
  box-shadow: 0 0 1em rgba(118, 118, 118, 0.4);
  z-index: 888;
}

.info {
  margin: 10px 20px;
  color: #ff1d58;
  border: none;
  background-color: transparent;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px 30px;
  box-shadow: 0 0 1em rgba(118, 118, 118, 0.4);
  border-radius: 30px;
}

.info:hover {
  background-color: #ff1d58;
  color: white;
}

.message {
  position: absolute;
  color: white;
  padding: 5px 5% 5px 5%;
}

.moves {
  position: absolute;
  background-color: rgb(255, 255, 138);
  width: 5em;
  height: 5em;
  border-radius: 50%;
  right: 15em;
  transition: 5s ease;
}

.oscilate {
  position: absolute;
  border-style: solid;
  border-color: white white transparent transparent;
  border-width: 0.1em 0.2em 0.05em 0;
  border-radius: 50%;
  top: -2.6em;
  left: -2.5em;
  width: 10em;
  height: 10em;
  animation: orbit 36s linear infinite;
}

.oscilate::before {
  content: "";
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 0.8em;
  height: 0.8em;
  top: 9em;
  left: 7em;
}

.oscilate2 {
  position: absolute;
  border-style: solid;
  border-color: #ff1d58 #ff1d58 transparent transparent;
  border-width: 0.1em 0.2em 0.05em 0;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  top: 8em;
  left: 6em;
  animation: orbit 36s linear infinite;
}

.oscilate2::before {
  content: "";
  position: absolute;
  background-color: #ff1d58;
  border-radius: 50%;
  width: 0.5em;
  height: 0.5em;
  top: 2.4em;
  left: 2em;
}

.about-container {
  position: relative;
  display: flex;
  padding: 2em 4em 2em 10em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  flex-wrap: wrap;
  background-color: white;
  margin-top: -16px;
}

.about-container span {
  color: #ff1d58;
  font-size: 20px;
  padding: 10px 10px;
}

.about-container h3,
h1 {
  color: gray;
  width: 100%;
}

.about,
.personal-details {
  width: 50%;
  padding: 1em 2em;
  text-align: justify;
}

.personal-details p {
  display: inline;
  font-size: 15px;
}

.about-more {
  width: 100%;
  padding: 1em 2em;
  display: block;
}

.about-more a {
  background-color: #ff1d58;
  color: white;
  padding: 10px 20px;
  border-radius: 15px;
  text-decoration: none;
  font-size: 13px;
}

.about-more p {
  margin-top: 15px;
  text-align: justify;
}

/* END OF HOME */

#graphic {
  position: relative;
  display: flex;
  top: 0;
  left: 0;
}

.bgwhite {
  margin: 0 10% 0 10%;
  font-size: 10px;
  display: flex;
  width: 80%;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
}

.ghead {
  justify-content: center;
  text-align: center;
  color: #ff1d58;
  animation: bords 5s linear infinite;
  padding: 50px;
}

.column {
  display: block;
  background-color: white;
  margin: 5px;
  width: 20em;
  height: 20em;
  border-radius: 50%;
  box-shadow: 0 0 1em #ff1d58;
  transition: 2s ease;
  align-items: center;
  overflow: hidden;
  padding: 30px 20px 30px 20px;
}

.column:hover {
  transform: scale(1.5);
  transition: 1s ease;
  z-index: 1;
  .move {
    position: absolute;
    border-style: solid;
    border-color: #ff1d58 transparent transparent transparent;
    border-width: 0.5em 0.8em 0 0;
    border-radius: 50%;
    top: 0em;
    left: 0em;
    width: 20em;
    height: 20em;
    animation: orbit 5s linear infinite;
  }
  .move::before {
    content: "";
    position: absolute;
    border-style: solid;
    background-color: #ff1d58;
    border-width: 0.5em 0 0 0;
    border-radius: 50%;
    top: 1.5em;
    right: 2em;
    width: 2em;
    height: 2em;
  }
}

.homelogo {
  display: block;
  width: 130px;
  height: 100px;
}

.tools {
  display: block;
  margin: 5px 15px 5px 15px;
  font-size: 20px;
  font-weight: 600;
  color: #ff1d58;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .navbar {
    left: 0;
  }
  .background {
    width: 100%;
    height: auto;
  }
  #home {
    height: auto;
  }
  .home {
    justify-content: center;
    width: 100%;
    padding: 0;
  }
  .photo,
  .description,
  .detail {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    padding-top: 0;
  }
  .dp {
    width: 70vw;
    margin: 0;
  }
  .name {
    font-size: 27px;
    color: #ff1d58;
  }
  .intro {
    font-size: 17px;
    margin-top: -1em;
  }
  .mess {
    font-size: 15px;
    padding: 0 80px 0 80px;
  }
  .info {
    display: block;
    text-align: left;
    margin: 15px 10px 15px 10px;
  }
  .detail {
    height: auto;
  }
  .about-container {
    position: relative;
    display: block;
    width: 100vw;
    padding: 30px;
  }
  .about,
  .personal-details {
    width: 100%;
    padding: 10px;
    text-align: justify;
    font-size: 13px;
  }
  .personal-details span {
    margin-top: -9px;
  }
  .personal-details p {
    display: flex;
    font-size: 13px;
    padding: 0;
    margin: 0;
  }
  .about-more {
    width: 100%;
    padding: 10px;
    display: block;
  }
  .about-more a {
    position: relative;
    left: 50px;
  }
  .about-more p {
    font-size: 13px;
  }
  /* /*     END OF HOME * */
  .bgwhite {
    flex-direction: column;
  }
  .column {
    flex-direction: column;
  }
}

/* ANIMATIONS */

@keyframes bords {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10vw);
    filter: hue-rotate(360deg);
  }
  100% {
    transform: translateX(0vw);
    filter: hue-rotate(360deg);
  }
}

@keyframes orbit {
  to {
    transform: rotate(360deg);
  }
}
